.amount-container {
  font-family: "Times New Roman", Times, serif;
  margin: 1rem auto;
}

.amount-container #add {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 6rem;
  height: 2rem;
  margin: 1rem 2rem;
  text-align: center;
  background-color: brown;
  color: white;
}
