.input-container input {
  padding-top: 0.25rem;
  height: 1.5rem;
  width: 3.5rem;
  border-radius: 12px;
  font-weight: 650;
  font-size: 1rem;
  text-align: center;
  display: inline;
}

.input-container label {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
}
