.cart-container {
  position: absolute;
  height: 25rem;
  width: 45rem;
  background-color: brown;
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 26.5rem;
  margin-top: 12rem;
  overflow: scroll;
}

.cart-container #cart-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: inherit;
  height: inherit;
}
