.cart-button {
  cursor: pointer;
  color: white;
  width: 10rem;
  height: 3rem;
  margin: 0.5rem 20rem;
  padding: 0.2rem 0.25rem;
  margin-right: 0;
  border-radius: 26px;
  background-color: #4d1601;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 750;
  font-size: 1.25rem;
  border: none;
  font: inherit;
}

.cart-button:hover,
.cart-button:active {
  background-color: #2c0d00;
}

.cart-button #icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.3rem;
}

.cart-button #value {
  width: 1.25rem;
  height: 1.25 rem;
  background-color: #b94517;
  font-weight: bold;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
}

.cart-button:hover #value,
.cart-button:active #value {
  background-color: #92320c;
}
